.crear {
    margin-top: 1em;

}
.content2{
    background-image:url('../images/tolhuin.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    box-shadow: inset 0 0 0 1000px rgba(22,222,222,.3);
}
.content2 content3{
    background-color: rgba(248, 247, 216, 0.7);
    width: 100%;



}

.crear label {
    width: 25%;
    text-align: right;
}

.crear img{

    vertical-align: middle;
    border-style: none;

    margin-left: 25%;
    max-width: 300px;
    max-height: 300px;
}